button {
	// box-shadow: inset 0px 1px 0px 0px #1564ad;

	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.282);
	display: inline-block;
	cursor: pointer;
	color: #000000;
	padding: 0.2rem 1.5rem;

	text-decoration: none;
	right: 50px;
	bottom: 10px;
	position: absolute;
	span {
		font-family: var(--font2);
		font-weight: bold;
		font-size: 1rem;
		margin: 0 auto;
		padding: 0px;
	}
}

button:hover {
	background: rgb(0, 0, 0);
	transition: 0.3s;
	color: rgb(255, 255, 255);
}
