.containerFields::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.08); /* Set the desired opacity here */
	z-index: -1; /* Move the overlay behind the container's content */
}
.containerFields {
	background: url("../../public/bg.svg");
	background-repeat: repeat-y;
	background-size: cover;
	width: calc(100vw - 20px);
	height: fit-content;
	position: relative;
	padding-top: 50px;
	.gridFields {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);
		height: 100vh;
		padding-bottom: 100px;

		.textFields {
			grid-column: 1/12;
			grid-row: 1/3;
			margin-left: 150px;

			margin-top: 80px;
		}
		.imgGridFields {
			grid-column: 1/8;
			grid-row: 6/12;
			margin-left: 118px;
			min-width: 35rem;

			div {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: auto;
				gap: 1rem;
				height: 40rem;
				margin: 0 auto;
				margin-left: 2rem;
				margin-right: 10px;

				img:nth-child(1) {
					grid-column: 1/7;
					grid-row: 3/7;
					object-fit: cover;
				}
				img:nth-child(2) {
					grid-column: 7/12;
					grid-row: 1/6;
					object-fit: cover;
				}
				img:nth-child(3) {
					grid-column: 2/7;
					grid-row: 7/13;
					object-fit: cover;
				}
				img:nth-child(4) {
					grid-column: 7/13;
					grid-row: 6/12;
					object-fit: cover;
				}
			}
		}
		.containerTextFields {
			grid-column: 10/12;
			grid-row: 9/12;

			width: 33rem;
			height: 20rem;
			background-color: var(--color1);

			bottom: 150px;
			right: 100px;

			.divTextFiels {
				p {
					font-size: 40px;
					font-family: var(--font2);
					color: white;
					line-height: 50px;
					text-align: left;

					margin: 3rem 2rem 0rem 2rem;
				}
			}
			Button {
				float: right;
				margin-right: 70px;
			}
		}
	}
}
@media screen and (min-width: 60rem) and (max-width: 82rem) {
	.containerFields {
		height: fit-content;

		.gridFields {
			height: fit-content;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
			.textFields {
				margin-left: 100px;
				margin-top: 80px;
				margin-bottom: 100px;
			}
			.imgGridFields {
				grid-column: 1/12;
				grid-row: 4/9;
				margin-left: 68px;
				margin-right: 68px;
				margin-bottom: 100px;
				min-width: 35rem;
				// div {
				// 	display: grid;
				// 	width: 100%;
				// 	grid-template-columns: repeat(12, 1fr);
				// 	grid-template-rows: auto;
				// 	gap: 1rem;
				// 	height: 40rem;
				// 	margin: 0 auto;
				// 	margin-left: 2rem;
				// 	margin-right: 150px;

				// 	img:nth-child(1) {
				// 		grid-column: 1/7;
				// 		grid-row: 3/7;
				// 		object-fit: cover;
				// 	}
				// 	img:nth-child(2) {
				// 		grid-column: 7/12;
				// 		grid-row: 1/6;
				// 		object-fit: cover;
				// 	}
				// 	img:nth-child(3) {
				// 		grid-column: 2/7;
				// 		grid-row: 7/13;
				// 		object-fit: cover;
				// 	}
				// 	img:nth-child(4) {
				// 		grid-column: 7/13;
				// 		grid-row: 6/12;
				// 		object-fit: cover;
				// 	}
				//}
			}
			.containerTextFields {
				grid-column: 8/12;
				grid-row: 10/13;
				margin-right: 35px;
				width: 28rem;
				height: 16rem;

				.divTextFiels {
					p {
						font-size: 30px;
						margin: 2rem 2rem 0rem 2rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 40rem) and (max-width: 60rem) {
	.containerFields {
		height: fit-content;
		.gridFields {
			height: fit-content;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
			.textFields {
				grid-column: 1/11;
				margin-left: 100px;
				margin-top: 80px;
				margin-bottom: 100px;
				h1 {
					font-size: 6rem;
				}
			}
			.imgGridFields {
				grid-column: 1/13;

				grid-row: 4/9;
				margin-left: 50px;
				margin-right: 68px;

				margin-bottom: 100px;
				min-width: 15rem;
			}
			.containerTextFields {
				grid-column: 6/13;
				grid-row: 10/13;
				margin-right: 45px;

				width: 28rem;
				height: 16rem;
				background-color: var(--color1);

				.divTextFiels {
					p {
						font-size: 30px;
						margin: 2rem 2rem 0rem 2rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 26rem) and (max-width: 40rem) {
	.containerFields {
		height: fit-content;
		.gridFields {
			height: fit-content;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
			.textFields {
				grid-column: 1/11;
				margin-left: 50px;
				margin-top: 80px;
				margin-bottom: 100px;
				h1 {
					font-size: 5rem;
				}
			}
			.imgGridFields {
				grid-column: 1/12;
				grid-row: 4/9;
				margin-left: 30px;
				margin-right: 68px;

				margin-bottom: 100px;
				min-width: 10rem;
			}
			.containerTextFields {
				grid-column: 6/12;
				grid-row: 10/13;
				margin-right: 45px;

				width: 22rem;
				height: 9rem;

				.divTextFiels {
					p {
						font-size: 25px;
						margin: 1rem 0rem 0rem 2rem;
						line-height: 100%;
					}
				}
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 26rem) {
	.containerFields {
		height: fit-content;
		width: 100vw;

		.gridFields {
			margin: 0 2rem;
			height: fit-content;

			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: auto;
			margin-top: 50px;
			margin-bottom: 0px;
			padding-bottom: 50px;

			.textFields {
				grid-column: 1/6;

				grid-row: 1/3;
				margin-top: 50px;
				margin-left: 0px;
				h1 {
					font-size: 45px;
				}
			}
			.imgGridFields {
				grid-column: 1/6;

				grid-row: 4/9;
				margin: 0px;

				min-width: 19rem;
				width: 80vw;

				div {
					display: grid;
					width: 100%;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(6, 1fr);
					gap: 0.5rem;
					height: 20rem;
					margin: 50px auto;
					margin-bottom: 100px;

					img:nth-child(1) {
						grid-column: 1/2;
						grid-row: 1/3;
						object-fit: cover;
					}
					img:nth-child(2) {
						grid-column: 2/4;
						grid-row: 1/2;
						object-fit: cover;
					}
					img:nth-child(3) {
						grid-column: 1/2;
						grid-row: 3/7;
						object-fit: cover;
					}
					img:nth-child(4) {
						grid-column: 2/4;
						grid-row: 2/7;
						object-fit: cover;
					}
				}
			}
			.containerTextFields {
				grid-column: 1/6;

				grid-row: 9/13;

				width: 15rem;
				height: 7rem;
				margin-left: 80px;

				.divTextFiels {
					p {
						font-size: 16px;
						margin: 1rem 0rem 0rem 2rem;
						line-height: 100%;
					}
					Button {
						margin-right: 30px;
						padding: 0.3rem 1rem;
					}
				}
			}
		}
	}
}
