.containerSource {
	background-image: url("../assets/bg-main.jpg");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: calc(100vw - 20px);
	position: relative;
	overflow: hidden;
	.line2 {
		padding-top: 80vh;
	}
	.containerSource2 {
		// position: relative;
		// z-index: 1;
		.line {
			background-size: contain;
			height: 3000px;
			width: 2000px;
			max-width: 3000px;
			position: absolute;
			left: 0;
			z-index: -1;
			overflow: hidden;
		}
		.logo {
			margin: 0 auto;
			padding-top: 2rem;
			max-width: 550px;
			max-height: 250px;
			width: auto;
			height: auto;
		}
		.containerText {
			width: 33rem;
			height: 20rem;
			background-color: var(--color1);
			float: right;
			margin-right: 100px;
			margin-top: 200px;

			.divText {
				p {
					font-size: 40px;
					font-family: var(--font2);
					color: white;
					line-height: 50px;
					text-align: left;

					margin: 1rem 2rem 0rem 2rem;
				}
			}
			Button {
				float: right;
				margin-right: 70px;
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 26rem) {
	.containerSource {
		height: 100vh;
		width: 100vw;
		.containerSource2 {
			.logo {
				padding-top: 2rem;
				max-width: 350px;
				max-height: 250px;
			}
			.containerText {
				width: 15rem;
				height: 9rem;
				bottom: 100px;
				right: 20px;

				.divText {
					p {
						font-size: 1rem;
						line-height: 120%;
						margin: 1rem 1rem 0rem 1rem;
					}
				}
				Button {
					margin-right: 30px;
					padding: 0.3rem 1rem;
				}
			}
		}
	}
}
@media screen and (orientation: landscape) and (max-width: 56rem) {
	.containerSource {
		height: 100vh;
		width: 100vw;
		.containerSource2 {
			.logo {
				padding-top: 2rem;
				max-width: 350px;
				max-height: 250px;
			}
			.containerText {
				width: 15rem;
				height: 9rem;
				bottom: 100px;
				right: 20px;

				.divText {
					p {
						font-size: 1rem;
						line-height: 120%;
						margin: 1rem 1rem 0rem 1rem;
					}
				}
				Button {
					margin-right: 30px;
					padding: 0.3rem 1rem;
				}
			}
		}
	}
}
