.containerSource {
	background-image: url("../assets/bg-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: calc(100vw - 20px);
	.logo {
		margin: 0 auto;
		padding-top: 2rem;
		max-width: 550px;
		max-height: 250px;
		width: auto;
		height: auto;
	}
	.containerText {
		width: 33rem;
		height: 20rem;
		background-color: var(--color1);
		position: absolute;
		bottom: 150px;
		right: 100px;

		.divText {
			p {
				font-size: 3rem;
				font-family: var(--font2);
				color: white;
				line-height: 50px;
				text-align: left;

				margin: 1rem 2rem 0rem 2rem;
			}
		}
		Button {
			float: right;
			margin-right: 70px;
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 26rem) {
	.containerSource {
		height: 100vh;
		width: 100vw;
		.logo {
			margin: 0 auto;
			padding-top: 2rem;
			max-width: 350px;
			max-height: 250px;
			width: auto;
			height: auto;
		}
		.containerText {
			width: 15rem;
			height: 10rem;
			background-color: var(--color1);
			position: absolute;
			bottom: 150px;
			right: 20px;

			.divText {
				p {
					font-size: 1rem;
					font-family: var(--font2);
					color: white;
					line-height: 100%;
					text-align: left;

					margin: 1rem 2rem 0rem 2rem;
				}
			}
			Button {
				float: right;
				margin-right: 70px;
			}
		}
	}
}
@media screen and (orientation: landscape) and (max-width: 26rem) {
}
