.containerSource {
	background-size: cover;
	background-position: center center;
	height: 150%;
	width: 100%;
	position: relative;
	overflow: hidden;

	.containerSource2 {
		// position: relative;
		// z-index: 1;
		.line {
			background-image: url("../assets/bg-main.jpg");
			background-size: contain;
			background-position: center;
			height: 3000px;
			width: 2000px;
			max-width: 3000px;
			position: absolute;
			left: 0;
			z-index: -1;
		}
		.logo {
			margin: 0 auto;
			padding-top: 2rem;
			max-width: 550px;
			max-height: 250px;
			width: auto;
			height: auto;
		}
		.containerText {
			width: 25rem;
			height: 12rem;
			background-color: var(--color1);
			float: right;
			margin-right: 150px;
			margin-top: 200px;
			margin-bottom: 200px;
			bottom: 0px;
			right: 0px;
			position: relative;

			.divText {
				p {
					font-size: 30px;
					font-family: var(--font2);
					color: white;

					text-align: left;
					margin: 1rem 1rem 1rem 2rem;
				}
			}
		}
	}
}
@media screen and (min-width: 60rem) and (max-width: 82rem) {
	.containerSource {
		.containerSource2 {
			.containerText {
				width: 28rem;
				height: 16rem;
				.divText {
					p {
						font-size: 30px;
						margin: 2rem 2rem 0rem 2rem;
					}
				}
			}
		}
	}
	@media screen and (min-width: 40rem) and (max-width: 60rem) {
		.containerSource {
			.containerSource2 {
				.containerText {
					width: 28rem;
					height: 16rem;
					.divText {
						p {
							font-size: 30px;
							margin: 2rem 2rem 0rem 2rem;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 26rem) and (max-width: 40rem) {
		.containerSource {
			.containerSource2 {
				.containerText {
					width: 28rem;
					height: 16rem;
					.divText {
						p {
							font-size: 30px;
							margin: 2rem 2rem 0rem 2rem;
						}
					}
				}
			}
		}
	}

	@media screen and (orientation: portrait) and (max-width: 26rem) {
		.containerSource {
			height: 100vh;
			width: 100vw;
			.containerSource2 {
				.logo {
					padding-top: 2rem;
					max-width: 350px;
					max-height: 250px;
				}
				.containerText {
					width: 15rem;
					height: 9rem;
					margin-top: 100%;
					margin-right: 20px;

					.divText {
						p {
							font-size: 1rem;

							margin: 1rem 1rem 0rem 1rem;
						}
					}
					Button {
						margin-right: 30px;
						padding: 0.3rem 1rem;
					}
				}
			}
		}
	}
}
@media screen and (orientation: landscape) and (max-width: 56rem) {
	.containerSource {
		height: 100vh;
		width: 100vw;
		.containerSource2 {
			.logo {
				padding-top: 2rem;
				max-width: 350px;
				max-height: 250px;
			}
			.containerText {
				width: 15rem;
				height: 9rem;
				bottom: 100px;
				right: 20px;

				.divText {
					p {
						font-size: 1rem;

						margin: 1rem 1rem 0rem 1rem;
					}
				}
				Button {
					margin-right: 30px;
					padding: 0.3rem 1rem;
				}
			}
		}
	}
}
